rt/spring/src/main/resources/schema/hola-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:beans="http://www.springframework.org/schema/beans"
			targetNamespace="http://www.solmix.org/schema/hola" 
			xmlns="http://www.solmix.org/schema/hola" 
			elementFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool"/>
    <xsd:element name="application" >
    <xsd:complexType>
    	<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="owner" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="organization" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="architecture" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="environment" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="monitor" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="discovery" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
    </xsd:element>

    <xsd:element name="module" >
    <xsd:complexType>
    <xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="owner" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="organization" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="monitor" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="discovery" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
    </xsd:element>

    <xsd:element name="discovery" >
    <xsd:complexType>
    	<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="protocol" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="address" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="port" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="timeout" type="xsd:int"></xsd:attribute>
    	<xsd:attribute name="local-file" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="group" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="subscribe" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="dynamic" type="xsd:boolean"></xsd:attribute>
    	<xsd:attribute name="cluster" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
    </xsd:element>

    <xsd:element name="service" type="serviceType">
    </xsd:element>

    <xsd:complexType name="abstractClassType">
    	<xsd:complexContent>
    		<xsd:extension base="abstractMethodType">

    			<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    			<xsd:attribute name="cluster" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="application" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="module" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="discovery" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="monitor" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="scope" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="protocol" type="xsd:string"></xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="abstractServiceType">
    	<xsd:complexContent>
    		<xsd:extension base="abstractClassType">
    			<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="group" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="export" type="xsd:boolean"></xsd:attribute>
    			<xsd:attribute name="weight" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="document" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="executes" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="protocol" type="xsd:string"></xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="serviceType">
    	<xsd:complexContent>
    		<xsd:extension base="abstractServiceType">
    			<xsd:sequence>
    				<xsd:element ref="beans:property" minOccurs="0"
    					maxOccurs="unbounded">
    				</xsd:element>
    				<xsd:element name="method" minOccurs="0"
    					maxOccurs="unbounded">
    					<xsd:complexType>
    						<xsd:complexContent>
    							<xsd:extension
    								base="abstractMethodType">
    								<xsd:attribute name="name"
    									type="xsd:string">
    								</xsd:attribute>
    								<xsd:attribute name="executes"
    									type="xsd:string">
    								</xsd:attribute>
    								<xsd:attribute name="retry"
    									type="xsd:string">
    								</xsd:attribute>
    								<xsd:attribute name="return"
    									type="xsd:string">
    								</xsd:attribute>
    								<xsd:attribute name="oninvoke"
    									type="xsd:string">
    								</xsd:attribute>
    								<xsd:attribute name="onreturn"
    									type="xsd:string">
    								</xsd:attribute>
    								<xsd:attribute name="onthrow"
    									type="xsd:string">
    								</xsd:attribute>
    							</xsd:extension>
    						</xsd:complexContent>
    					</xsd:complexType>
    				</xsd:element>
    			</xsd:sequence>
    			<xsd:attribute name="interface" type="xsd:token"
    				use="required">
    			</xsd:attribute>
    			<xsd:attribute name="ref" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="class" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="path" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="delay" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="server" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="generic" type="xsd:string"></xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>


    <xsd:complexType name="serverType">
    	<xsd:complexContent>
    		<xsd:extension base="abstractServiceType">
    			<xsd:choice>
    				<xsd:element name="service" type="serviceType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    				<xsd:element ref="beans:property" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    			</xsd:choice>
    			<xsd:attribute name="host" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="port" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="contextpath" type="xsd:string"></xsd:attribute>
                <xsd:attribute name="threadpool" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="threads" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="iothreads" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="queues" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="accepts" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="codec" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="serial" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="charset" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="payload" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="buffer" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="transporter" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="exchanger" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="dispatcher" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="wait" type="xsd:string"></xsd:attribute>
    			<xsd:anyAttribute></xsd:anyAttribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="protocol" >
    <xsd:complexType>
		<xsd:choice>
  				<xsd:element ref="beans:property" minOccurs="0" maxOccurs="unbounded"></xsd:element>
    	</xsd:choice>
    	<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="host" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="port" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="threadpool" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="threads" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="iothreads" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="queues" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="accepts" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="codec" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="serialization" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="charset" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="payload" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="buffer" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="transporter" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="exchanger" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="dispatcher" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="path" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="contextpath" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
    </xsd:element>

    <xsd:element name="server" type="serverType"></xsd:element>

    <xsd:element name="reference" type="ReferenceType"></xsd:element>

    <xsd:complexType name="ReferenceType">
	    <xsd:complexContent>
			<xsd:extension base="abstractReferenceType">
			</xsd:extension>
		</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="abstractReferenceType">
    	<xsd:complexContent>
			<xsd:extension base="abstractClassType">
			</xsd:extension>
		</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="abstractMethodType">
    	<xsd:attribute name="timeout" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="retries" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="actives" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="loadbalance" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="async" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="asyncwait" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="ArgumentType">
    	<xsd:attribute name="index" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="type" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="callback" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
</xsd:schema>