builder/src/main/resources/schema/blueprint/hola-1.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	targetNamespace="http://www.solmix.org/schema/hola/v1.0.0" 
	xmlns="http://www.solmix.org/schema/hola/v1.0.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.osgi.org/xmlns/blueprint/v1.0.0" schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd"/>
	 <xsd:element name="application" >
    <xsd:complexType>
    	<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="owner" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="organization" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="architecture" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="environment">
    		<xsd:simpleType>
    			<xsd:restriction base="xsd:string">
    				<xsd:enumeration value="develop"></xsd:enumeration>
    				<xsd:enumeration value="test"></xsd:enumeration>
    				<xsd:enumeration value="product"></xsd:enumeration>
    			</xsd:restriction>
    		</xsd:simpleType>
    	</xsd:attribute>
    	<xsd:attribute name="monitor" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="discovery" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="default" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>
    </xsd:element>
    
      <xsd:element name="module" >
    <xsd:complexType>
    	<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="owner" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="organization" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="monitor" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="discovery" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="application" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="default" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>
      </xsd:element>
    
      <xsd:element name="discovery" >
    <xsd:complexType>
    	<xsd:all>
    		<xsd:element name="properties" type="beans:Tmap"
    			minOccurs="0">
    		</xsd:element>
    	</xsd:all>
    	<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="address" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="username" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="password" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="protocol" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="port" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="cluster" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="group" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="timeout" type="xsd:int"></xsd:attribute>
    	<xsd:attribute name="check" type="xsd:boolean"></xsd:attribute>
    	<xsd:attribute name="dynamic" type="xsd:boolean"></xsd:attribute>
    	<xsd:attribute name="publish" type="xsd:boolean"></xsd:attribute>
    	<xsd:attribute name="subscribe" type="xsd:boolean"></xsd:attribute>
    	<xsd:attribute name="file" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="default" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>
      </xsd:element>
    
     <xsd:element name="monitor">
    <xsd:complexType>
    	<xsd:all>
    		<xsd:element name="properties" type="beans:Tmap" minOccurs="0"></xsd:element>
    	</xsd:all>
    	<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="address" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="protocol" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="username" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="password" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="group" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="default" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>
    </xsd:element>
    
     <xsd:complexType name="ArgumentType">
    	<xsd:attribute name="index" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="type" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="callback" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
    
       <xsd:complexType name="abstractMethodType">
    	<xsd:attribute name="timeout" type="xsd:int"></xsd:attribute>
    	<xsd:attribute name="retries" type="xsd:int"></xsd:attribute>
    	<xsd:attribute name="actives" type="xsd:int"></xsd:attribute>
    	<xsd:attribute name="loadbalance" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="async" type="xsd:boolean"></xsd:attribute>
    	<xsd:attribute name="asyncwait" type="xsd:boolean"></xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="methodsType">
    	<xsd:sequence>
    		<xsd:element name="method" minOccurs="0" maxOccurs="unbounded">
    		<xsd:complexType>
    			<xsd:complexContent>
    				<xsd:extension base="abstractMethodType">
    					<xsd:choice minOccurs="0" maxOccurs="unbounded">
    						<xsd:element name="argument"
    							type="ArgumentType" minOccurs="0">
    						</xsd:element>
    					</xsd:choice>
    					<xsd:attribute name="name" type="xsd:string">
    					</xsd:attribute>
    					<xsd:attribute name="executes"
    						type="xsd:string">
    					</xsd:attribute>
    					<xsd:attribute name="retry" type="xsd:string">
    					</xsd:attribute>
    				</xsd:extension>
    			</xsd:complexContent>
    		</xsd:complexType>
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="abstractInterfaceType">
    	<xsd:complexContent>
    		<xsd:extension base="abstractMethodType">

    			<xsd:attribute name="id" type="xsd:ID"></xsd:attribute>
    			<xsd:attribute name="host" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="port" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="protocol" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="serial" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="proxy" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="cluster" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="scope" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="heartbeat" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="heartbeatTimeout" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="codec" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="palyload" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="transporter" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="buffer" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="executor" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="threads" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="iothreads" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="queues" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="charset" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="networker" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="default" type="xsd:boolean"></xsd:attribute>
    			<xsd:attribute name="application" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="module" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="discovery" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="monitor" type="xsd:string"></xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="abstractReferenceType">
    	<xsd:complexContent>
    		<xsd:extension base="abstractInterfaceType">
    			<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="group" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="check" type="xsd:boolean"></xsd:attribute>
    			<xsd:attribute name="generic" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="reconnect" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="lazy" type="xsd:boolean"></xsd:attribute>
    			<xsd:attribute name="connectTimeout" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="pipelines" type="xsd:int"></xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="abstractServiceType">
    	<xsd:complexContent>
    		<xsd:extension base="abstractInterfaceType">
    			<xsd:attribute name="version" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="group" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="weight" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="document" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="dynamic" type="xsd:boolean"></xsd:attribute>
    			<xsd:attribute name="executes" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="publish" type="xsd:boolean"></xsd:attribute>
    			<xsd:attribute name="delay" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="accepts" type="xsd:int"></xsd:attribute>
    			<xsd:attribute name="generic" type="xsd:string"></xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="providerType">
    	<xsd:complexContent>
    		<xsd:extension base="abstractServiceType">
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
    				<xsd:element name="service" type="serviceType" minOccurs="0" maxOccurs="unbounded">
    				</xsd:element>
    				<xsd:element name="properties" type="beans:Tmap" minOccurs="0" maxOccurs="1">
    				</xsd:element>
    			</xsd:choice>

    			<xsd:attribute name="contextpath" type="xsd:string"></xsd:attribute>
    			<xsd:anyAttribute></xsd:anyAttribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    
     <xsd:element name="provider" type="providerType"></xsd:element>
     
     
    <xsd:element name="consumer">
    <xsd:complexType>
    	<xsd:complexContent>
    		<xsd:extension base="abstractReferenceType">
    			<xsd:choice>
    				<xsd:element name="properties" type="beans:Tmap"
    					minOccurs="0" maxOccurs="1">
    				</xsd:element>
    				<xsd:element name="reference" type="referenceType"
    					minOccurs="0" maxOccurs="unbounded">
    				</xsd:element>
    			</xsd:choice>

    			<xsd:anyAttribute></xsd:anyAttribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    </xsd:element>

    <xsd:element name="reference" type="referenceType"></xsd:element>
    
    <xsd:complexType name="referenceType">
    	<xsd:complexContent>
    		<xsd:extension base="abstractReferenceType">
    			<xsd:all>
    				<xsd:element name="properties" type="beans:Tmap"
    					minOccurs="0" maxOccurs="1">
    				</xsd:element>
    				<xsd:element name="methods" type="methodsType"
    					minOccurs="0">
    				</xsd:element>
    			</xsd:all>

    			<xsd:attribute name="interface" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="url" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="consumer" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="container" type="xsd:string"></xsd:attribute>
    			<xsd:anyAttribute></xsd:anyAttribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="service" type="serviceType">
    </xsd:element>
    <xsd:complexType name="serviceType">
    	<xsd:complexContent>
    		<xsd:extension base="abstractServiceType">
    			<xsd:all>
    				<xsd:element name="properties" type="beans:Tmap"
    					minOccurs="0" maxOccurs="1">
    				</xsd:element>
    				<xsd:element name="ref" type="xsd:anyType"
    					minOccurs="0">
    				</xsd:element>
    				<xsd:element name="methods" type="methodsType"
    					minOccurs="0">
    				</xsd:element>
    			</xsd:all>


    			<xsd:attribute name="interface" type="xsd:token">
    			</xsd:attribute>
    			<xsd:attribute name="ref" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="path" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="provider" type="xsd:string"></xsd:attribute>
    			<xsd:attribute name="container" type="xsd:string"></xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
</xsd:schema>